/* Classes style for index*/
.title {
    text-align: center;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
/* navbar */
.recipes li {
    padding: 1em;
}
.recipes {
    list-style: none;
    display: flex;
    width: 500px;
    margin: 0 auto;
    padding: 0;
}
