/* Classes style for index*/
.main {
    background-color:rgb(70, 70, 70);
    border: 2px solid whitesmoke;
    border-radius: 5%;
    width: 50%;  
    margin:auto; 
    margin-top: 100px;
}
.title {
    text-align: center;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
/* navbar */
.recipes li {
    padding: 0.5em;
}
.recipes {
    list-style: none;
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}
a:hover {
    padding: 0.5em;
}
